<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaonie.intelligent.assessment.server.chat_server.user.mappers.UserContactApplyMapper">

    <!--实体映射-->
    <resultMap id="base_result_map"
               type="com.yaonie.intelligent.assessment.server.common.model.model.entity.chat.UserContactApply">
        <!--申请id-->
        <id column="apply_id" property="applyId"/>
        <!--申请用户id-->
        <result column="apply_user_id" property="applyUserId"/>
        <!--申请接收用户id-->
        <result column="receive_user_id" property="receiveUserId"/>
        <!--联系人类型 0:好友 1:群聊-->
        <result column="concat_type" property="concatType"/>
        <!--联系人/群聊id-->
        <result column="concat_id" property="concatId"/>
        <!--最后申请时间-->
        <result column="last_apply_time" property="lastApplyTime"/>
        <!--申请状态 0:未处理 1:已同意 2:已拒绝-->
        <result column="status" property="status"/>
        <!--申请信息-->
        <result column="apply_info" property="applyInfo"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        apply_id,apply_user_id,receive_user_id,concat_type,concat_id,
		 last_apply_time,status,apply_info
    </sql>

    <sql id="base_condition_filed">
        <if test="query.applyId != null">
            and apply_id = #{query.applyId}
        </if>
        <if test="query.applyUserId != null">
            and apply_user_id = #{query.applyUserId}
        </if>
        <if test="query.receiveUserId != null">
            and receive_user_id = #{query.receiveUserId}
        </if>
        <if test="query.concatType != null">
            and concat_type = #{query.concatType}
        </if>
        <if test="query.concatId != null">
            and concat_id = #{query.concatId}
        </if>
        <if test="query.lastApplyTime != null">
            and last_apply_time = #{query.lastApplyTime}
        </if>
        <if test="query.status != null">
            and status = #{query.status}
        </if>
        <if test="query.applyInfo != null and query.applyInfo!=''">
            and apply_info = #{query.applyInfo}
        </if>
    </sql>
    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.applyInfoFuzzy!= null  and query.applyInfoFuzzy!=''">
                and apply_info like concat('%', #{query.applyInfoFuzzy}, '%')
            </if>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM user_contact_apply
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM user_contact_apply
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert"
            parameterType="com.yaonie.intelligent.assessment.server.common.model.model.entity.chat.UserContactApply">
        <selectKey keyProperty="bean.applyId" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO user_contact_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.applyUserId != null">
                apply_user_id,
            </if>
            <if test="bean.receiveUserId != null">
                receive_user_id,
            </if>
            <if test="bean.concatType != null">
                concat_type,
            </if>
            <if test="bean.concatId != null">
                concat_id,
            </if>
            <if test="bean.lastApplyTime != null">
                last_apply_time,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.applyInfo != null">
                apply_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.applyUserId!=null">
                #{bean.applyUserId},
            </if>
            <if test="bean.receiveUserId!=null">
                #{bean.receiveUserId},
            </if>
            <if test="bean.concatType!=null">
                #{bean.concatType},
            </if>
            <if test="bean.concatId!=null">
                #{bean.concatId},
            </if>
            <if test="bean.lastApplyTime!=null">
                #{bean.lastApplyTime},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.applyInfo!=null">
                #{bean.applyInfo},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate"
            parameterType="com.yaonie.intelligent.assessment.server.common.model.model.entity.chat.UserContactApply">
        INSERT INTO user_contact_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.applyId != null">
                apply_id,
            </if>
            <if test="bean.applyUserId != null">
                apply_user_id,
            </if>
            <if test="bean.receiveUserId != null">
                receive_user_id,
            </if>
            <if test="bean.concatType != null">
                concat_type,
            </if>
            <if test="bean.concatId != null">
                concat_id,
            </if>
            <if test="bean.lastApplyTime != null">
                last_apply_time,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.applyInfo != null">
                apply_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.applyId!=null">
                #{bean.applyId},
            </if>
            <if test="bean.applyUserId!=null">
                #{bean.applyUserId},
            </if>
            <if test="bean.receiveUserId!=null">
                #{bean.receiveUserId},
            </if>
            <if test="bean.concatType!=null">
                #{bean.concatType},
            </if>
            <if test="bean.concatId!=null">
                #{bean.concatId},
            </if>
            <if test="bean.lastApplyTime!=null">
                #{bean.lastApplyTime},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.applyInfo!=null">
                #{bean.applyInfo},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.applyUserId!=null">
                apply_user_id = VALUES(apply_user_id),
            </if>
            <if test="bean.receiveUserId!=null">
                receive_user_id = VALUES(receive_user_id),
            </if>
            <if test="bean.concatType!=null">
                concat_type = VALUES(concat_type),
            </if>
            <if test="bean.concatId!=null">
                concat_id = VALUES(concat_id),
            </if>
            <if test="bean.lastApplyTime!=null">
                last_apply_time = VALUES(last_apply_time),
            </if>
            <if test="bean.status!=null">
                status = VALUES(status),
            </if>
            <if test="bean.applyInfo!=null">
                apply_info = VALUES(apply_info),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch"
            parameterType="com.yaonie.intelligent.assessment.server.common.model.model.entity.chat.UserContactApply"
            useGeneratedKeys="true" keyProperty="applyId">
        INSERT INTO user_contact_apply(
        apply_user_id,
        receive_user_id,
        concat_type,
        concat_id,
        last_apply_time,
        status,
        apply_info
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.applyUserId},
            #{item.receiveUserId},
            #{item.concatType},
            #{item.concatId},
            #{item.lastApplyTime},
            #{item.status},
            #{item.applyInfo}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch"
            parameterType="com.yaonie.intelligent.assessment.server.common.model.model.entity.chat.UserContactApply">
        INSERT INTO user_contact_apply(
        apply_user_id,
        receive_user_id,
        concat_type,
        concat_id,
        last_apply_time,
        status,
        apply_info
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.applyUserId},
            #{item.receiveUserId},
            #{item.concatType},
            #{item.concatId},
            #{item.lastApplyTime},
            #{item.status},
            #{item.applyInfo}
            )
        </foreach>
        on DUPLICATE key update
        apply_user_id = VALUES(apply_user_id),
        receive_user_id = VALUES(receive_user_id),
        concat_type = VALUES(concat_type),
        concat_id = VALUES(concat_id),
        last_apply_time = VALUES(last_apply_time),
        status = VALUES(status),
        apply_info = VALUES(apply_info)
    </insert>

    <!--多条件修改-->
    <update id="updateByParam"
            parameterType="com.yaonie.intelligent.assessment.server.chat_server.user.entity.query.UserContactApplyQuery">
        UPDATE user_contact_apply
        <set>
            <if test="bean.applyUserId != null">
                apply_user_id = #{bean.applyUserId},
            </if>
            <if test="bean.receiveUserId != null">
                receive_user_id = #{bean.receiveUserId},
            </if>
            <if test="bean.concatType != null">
                concat_type = #{bean.concatType},
            </if>
            <if test="bean.concatId != null">
                concat_id = #{bean.concatId},
            </if>
            <if test="bean.lastApplyTime != null">
                last_apply_time = #{bean.lastApplyTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.applyInfo != null">
                apply_info = #{bean.applyInfo},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        delete from user_contact_apply
        <include refid="query_condition"/>
    </delete>

    <!-- 根据ApplyId修改-->
    <update id="updateByApplyId"
            parameterType="com.yaonie.intelligent.assessment.server.common.model.model.entity.chat.UserContactApply">
        UPDATE user_contact_apply
        <set>
            <if test="bean.applyUserId != null">
                apply_user_id = #{bean.applyUserId},
            </if>
            <if test="bean.receiveUserId != null">
                receive_user_id = #{bean.receiveUserId},
            </if>
            <if test="bean.concatType != null">
                concat_type = #{bean.concatType},
            </if>
            <if test="bean.concatId != null">
                concat_id = #{bean.concatId},
            </if>
            <if test="bean.lastApplyTime != null">
                last_apply_time = #{bean.lastApplyTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.applyInfo != null">
                apply_info = #{bean.applyInfo},
            </if>
        </set>
        where apply_id=#{applyId}
    </update>

    <!-- 根据ApplyId删除-->
    <delete id="deleteByApplyId">
        delete
        from user_contact_apply
        where apply_id = #{applyId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByApplyId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from user_contact_apply where apply_id=#{applyId}
    </select>

    <!-- 根据ApplyUserIdAndReceiveUserIdAndConcatId修改-->
    <update id="updateByApplyUserIdAndReceiveUserIdAndConcatId"
            parameterType="com.yaonie.intelligent.assessment.server.common.model.model.entity.chat.UserContactApply">
        UPDATE user_contact_apply
        <set>
            <if test="bean.concatType != null">
                concat_type = #{bean.concatType},
            </if>
            <if test="bean.lastApplyTime != null">
                last_apply_time = #{bean.lastApplyTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.applyInfo != null">
                apply_info = #{bean.applyInfo},
            </if>
        </set>
        where apply_user_id=#{applyUserId} and receive_user_id=#{receiveUserId} and concat_id=#{concatId}
    </update>

    <!-- 根据ApplyUserIdAndReceiveUserIdAndConcatId删除-->
    <delete id="deleteByApplyUserIdAndReceiveUserIdAndConcatId">
        delete
        from user_contact_apply
        where apply_user_id = #{applyUserId}
          and receive_user_id = #{receiveUserId}
          and concat_id = #{concatId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByApplyUserIdAndReceiveUserIdAndConcatId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from user_contact_apply where apply_user_id=#{applyUserId} and receive_user_id=#{receiveUserId} and
        concat_id=#{concatId}
    </select>

</mapper>